<div class="body">
    <a routerLink="/home/profile">
        <span class="material-symbols-outlined">
            person
        </span>
    </a>
    
    <a routerLink="/home/posts">
        <span class="material-symbols-outlined">
            signpost
        </span>
</a>
    <a routerLink="/home/notifs">
        <span class="material-symbols-outlined">
            notifications
        </span>
</a>   
    <a routerLink="/home/messages">
        <span class="material-symbols-outlined">
            mail
        </span>
    </a>
</div>